body {
    background-color: #00c2ec;
}

nav {
    background-color: #ececec;
}
main {
    background-color:#ffffff;
}
h1{
    color:White;
}
h2{
    color:blue;
}
h3 {
    color:red;
}
h4 {
    color: black;
}